canvas#draw {
	top: 17.5px;
	left: 17.5px;
	position: absolute;
	height: calc(100% - 87.5px);
	border-radius: 10px;
	border: 1px solid lightgray;
	box-shadow: inset 0px 4px 6px #0003;
	width: calc(100% - 35px);
}
main {
	position: absolute;
	top: 75px;
	height: calc(100vh - 75px);
	width: 100vw;
}
div.is-open {
	box-shadow: -8px 0px 8px #0002;
	transform: translateX(0px) !important;
}
div.is-open ~ img.menu-scribble {
	top: 40px !important;
	right: 40px !important;
	height: 35px !important;
	bottom: auto !important;
}
